header {
  border-bottom: 1px solid #ccc;
}

nav {
  background-color: #B4964B ;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  font-size: 1.5rem;
  color:black;
  padding: 0 1.5rem;
  float: left;
  text-align: center;
  align-items: right;
  cursor: pointer;
}

body {
  margin-top: 20px;
  background-color: black;
  color: white;
}

.home-message {
  color: #B4964B;
}

.blogpost {
  border: solid #D9D9D9 10px;
}
.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #B4964B;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #B4964B;
  text-decoration: underline;
}
